/* You can add global styles to this file, and also import other style files */

// --- Reset default css values --- //
@import "global-styles/css-reset";

* {
  box-sizing: border-box;
}

// --- Color variables --- //
:root {
  --color-primary: #32db64;
  --color-secondary: #2dd36f;
  --color-dark: #1c1d3b;
  --color-light: #ffffff;
}

// --- Global font --- //
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: black;
}

// --- Modals --- //
@import "global-styles/styles.modal";
