/* You can add global styles to this file, and also import other style files */

// --- Reset default css values --- //
@import "global-styles/css-reset";

* {
  box-sizing: border-box;
}

// --- Color variables --- //
:root {
  --color-primary: #fff;
  --color-secondary: #026ffa;
  --color-dark: #1c1d3b;
  --color-penumbra: #E8E9EB;
  --color-light: #ffffff;
}

// --- Global font --- //
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: black;
}

.mr-5 {
  margin-right: 5px;
}

// --- Modals --- //
@import "global-styles/styles.modal";

// --- Buttons --- //
@import "global-styles/styles.buttons";
